# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
reframe.log
reframe.out
eff.*

# Mac
.DS_Store
.vscode

# Sphinx documentation
docs/source/_build/
docs/source/html/
doctrees/

# jg
*.EFF
DEL
.*.png
stage
eff
